# backend:
#   name: github
#   repo: Hyperobjekt/gatsby-starter-hyperobjekt
#   branch: master

# FOR LOCAL DEVELOPMENT:
# ---
# - uncomment the backend below
# - run `npx netlify-cms-proxy-server` to serve content

backend:
  name: proxy
  proxy_url: http://localhost:8081/api/v1
  branch: main # optional, defaults to master

media_folder: /content/assets
public_folder: /assets

collections:
  - label: "Language Pack"
    name: "language"
    extension: json
    editor:
      preview: false
    media_folder: "/content/assets"
    public_folder: "/content/assets"
    files:
      - label: "Explorer, English"
        name: "explorer"
        file: "config/lang/explorer/lang.json"
        fields:
          - {
              label: "Site title",
              name: "SITE_TITLE",
              widget: string,
              hint: "Site title in English, displayed in explorer",
            }
          - {
              label: "Map loading notification",
              name: "MAP_LOADING_DATA",
              widget: string,
              hint: "Map loading notification string, displayed in explorer while map data is loading",
            }
  - label: "Configuration"
    name: "config"
    extension: json
    editor:
      preview: false
    media_folder: "/content/assets"
    public_folder: "/content/assets"
    files:
      - label: "Metadata"
        name: "metadata"
        file: "config/metadata.json"
        fields:
          - {
              label: "Site Logo",
              name: "logoImage",
              widget: "image",
              hint: "image must be named `site-logo`",
              pattern:
                [
                  'site-logo\.(svg|png|jpg)',
                  "incorrect file name (file name must be site-logo)",
                ],
            }
          - {
              label: "Site Icon",
              name: "iconImage",
              widget: "image",
              hint: "image must be named `site-icon.png`",
              pattern:
                [
                  "site-icon.png",
                  "incorrect file name (file name must be site-icon.png)",
                ],
            }
          - { label: "Site Title", name: "title", widget: "string" }
          - {
              label: "Site Description",
              name: "description",
              widget: "string",
              hint: "Meta description used for search engine optimization",
            }
          - {
              label: "Site Keywords",
              name: "keywords",
              widget: "list",
              hint: "Meta keywords used as default for pages",
            }
          - {
              label: "Social Media Thumbnail",
              name: "socialImage",
              widget: "image",
              hint: "image must be named `site-social`",
              pattern:
                [
                  'site-social\.(png|jpg)',
                  "incorrect file name (file name must be site-social.jpg)",
                ],
            }
          - {
              label: "Copyright",
              name: "copyright",
              widget: "string",
              hint: "Copyright message for the footer",
            }
          - label: "Navigation"
            name: "menuLinks"
            widget: "list"
            hint: "Navigation items that appear in the site header and footer"
            fields:
              - { label: "Name", name: "name", widget: "string" }
              - { label: "URL", name: "link", widget: "string" }
              - {
                  label: "Type",
                  name: "type",
                  widget: "select",
                  options: ["internal", "anchor"],
                  default: "internal",
                  hint: "use anchor for links within the page",
                }
              - {
                  label: "Location",
                  name: "location",
                  widget: "select",
                  options: ["all", "header", "footer"],
                  default: "all",
                  hint: "`all` places the link in both the header and footer",
                }
          - label: "Social Links"
            name: "socialLinks"
            widget: "list"
            fields:
              - {
                  label: "Name",
                  name: "name",
                  widget: "select",
                  options:
                    [
                      "Email",
                      "Twitter",
                      "Facebook",
                      "YouTube",
                      "Instagram",
                      "Github",
                      "LinkedIn",
                      "Slack",
                      "Gitlab",
                      "Bitbucket",
                      "Behance",
                    ],
                }
              - {
                  label: "Link",
                  name: "link",
                  widget: "string",
                  hint: "for email, use your email address",
                }
              - {
                  label: "Location",
                  name: "location",
                  widget: "select",
                  options: ["all", "header", "footer"],
                  default: "footer",
                  hint: "`all` places the link in both the header and footer",
                }
      - label: "Core Settings"
        name: "core"
        file: "config/core.json"
        fields:
          - {
              label: "Content Path",
              name: "contentPath",
              widget: "hidden",
              default: "content/pages",
            }
          - {
              label: "Asset Path",
              name: "assetPath",
              widget: "hidden",
              default: "content/assets",
            }
          - {
              label: "Header",
              name: "header",
              widget: "object",
              fields:
                [
                  {
                    label: "Show Site Logo",
                    name: "displaySiteLogo",
                    widget: "boolean",
                    default: true,
                  },
                  {
                    label: "Show Site Logo (Mobile)",
                    name: "displaySiteLogoMobile",
                    widget: "boolean",
                    default: true,
                  },
                  {
                    label: "Show Site Title",
                    name: "displaySiteTitle",
                    widget: "boolean",
                    default: false,
                  },
                  {
                    label: "Show Site Title (Mobile)",
                    name: "displaySiteTitleMobile",
                    widget: "boolean",
                    default: false,
                  },
                  {
                    label: "Sticky Header",
                    name: "useStickyHeader",
                    widget: "boolean",
                    default: true,
                    hint: "turn on to have the header stay in the viewport when scrolling",
                  },
                  {
                    label: "Shrink Header",
                    name: "useShrinkHeader",
                    widget: "boolean",
                    default: true,
                    hint: "turn on to enable shrinking the header once the page is scrolled",
                  },
                  {
                    label: "Mobile Menu Breakpoint",
                    name: "mobileMenuBreakpoint",
                    widget: "number",
                    default: 768,
                    hint: "width where the mobile menu switches to desktop menu",
                  },
                  {
                    label: "Header Content Max Width",
                    name: "headerContentMaxWidth",
                    widget: "number",
                    default: 960,
                    hint: "maximum width of content within the header bar",
                  },
                  {
                    label: "Header Height",
                    name: "headerHeight",
                    widget: "number",
                    default: 80,
                    hint: "default height for header",
                  },
                  {
                    label: "Shrunk Header Height",
                    name: "shrinkHeaderHeight",
                    widget: "number",
                    default: 56,
                    hint: "header height when it is shrunk",
                  },
                  {
                    label: "Shrink Offset",
                    name: "shrinkOffset",
                    widget: "number",
                    default: -32,
                    hint: "how far down the page to scroll before shrinking the header",
                  },
                ],
            }
          - {
              label: "Dark Mode Enabled",
              name: "useDarkMode",
              widget: "boolean",
              default: true,
              hint: "turn on to enable toggle between dark / light themes",
            }
          - {
              label: "Use KaTeX",
              name: "useKatex",
              widget: "boolean",
              default: false,
              hint: "determined if mathematics typesetting is enabled",
            }
          - {
              label: "Content Max Width",
              name: "contentMaxWidth",
              widget: "number",
              default: 768,
              hint: "max width for content on content pages",
            }
          - {
              label: "Resize Image Width",
              name: "remarkImagesWidth",
              widget: "number",
              default: 1440,
              hint: "width to scale down content images to",
            }
          - {
              label: "Fonts",
              name: "fonts",
              widget: "object",
              fields:
                [
                  {
                    label: "Google Fonts",
                    name: "google",
                    widget: "list",
                    fields:
                      [
                        {
                          label: "Font Family",
                          name: "family",
                          widget: "string",
                        },
                        { label: "Variants", name: "variants", widget: "list" },
                      ],
                  },
                ],
            }
          - {
              label: "Responsive Font Sizes",
              name: "responsiveFontSizes",
              widget: "object",
              fields:
                [
                  {
                    label: "Breakpoints",
                    name: "breakpoints",
                    widget: "list",
                    default: ["sm", "md", "lg"],
                    hint: "a list of breakpoints for when font scaling should happen",
                  },
                  {
                    label: "Factor",
                    name: "factor",
                    widget: "number",
                    default: 2,
                    hint: "This value determines the strength of font size resizing. The higher the value, the less difference there is between font sizes on small screens. The lower the value, the bigger font sizes for small screens. The value must be greater than 1.",
                  },
                ],
            }
  - label: "Pages"
    name: "pages"
    extension: mdx
    format: frontmatter
    create: true
    folder: "content/pages"
    editor:
      preview: false
    fields:
      - {
          label: "Page Title",
          name: title,
          widget: string,
          hint: "Title for the browser window",
        }
      - {
          label: "Description",
          name: "description",
          widget: "string",
          required: false,
          hint: "Not visible, but used for search engine optimization",
        }
      - { label: "Keywords", name: "keywords", widget: "list", required: false }
      - {
          label: "Social Image",
          name: "image",
          widget: "image",
          required: false,
          hint: "Image used when page is shared on social media",
        }
      - { label: "Body", name: "body", widget: "markdown" }
